outputs
.hydra
/scaler
__pycache__
/model
/metrics
/data_profile
/.*_cache
/dvc_plots
dvclive/metrics.json
dvclive/plots/images
data/raw
data/intermediate
data/final
venv

# Mage
.file_versions
.logs
mage_data
src/data/raw
src/data/raw.dvc
src/dvclive
